<mat-card class="card-width">
  <mat-card-title class="text-center">
    <h2>Change password</h2>
  </mat-card-title>

  <mat-card-content>
    <form class="p-lg-0" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Old Password</mat-label>
          <input matInput
                 type="password"
                 id="oldPassword"
                 name="oldPassword"
                 placeholder="Input Old Password"
                 formControlName="oldPassword"
                 [type]="hidePassword ? 'password' : 'text'"
          >
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.oldPassword.invalid && f.oldPassword.touched">You must input a valid password.</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput
                 type="password"
                 id="password"
                 name="password"
                 placeholder="Input Password"
                 formControlName="password"
                 [type]="hidePassword ? 'password' : 'text'"
          >
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.password.invalid && f.password.touched">You must input a valid password.</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput
                 type="password"
                 id="confirmPassword"
                 name="confirmPassword"
                 placeholder="Input Password"
                 formControlName="confirmPassword"
                 [type]="hidePassword ? 'password' : 'text'"
          >
          <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="f.confirmPassword.invalid && f.confirmPassword.touched">Passwords don't match.</mat-error>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button color="accent" class="btn-width-50" type="submit" [disabled]="passwordForm.disabled|| !passwordForm.valid">
          Submit
        </button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
