.useful-answer {
  border: forestgreen 2px solid;
}
.push {
  margin-left: auto;
}
.button-spacing {
  margin-left:25px;
}

.icon-width {
  width: 30px;
}

.answer-spacing {
  margin-bottom: 10px;
}

.answer-dialog-width {
  min-width: 35vw;
}
