@import "src/assets/variables";

.login-form {
  margin-top:50px;
  min-width: 300px;
  width: 100%
}

.space-between {
  justify-content: space-between;
}

.register-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bolder;
  color: $primary;
  cursor: pointer;
  text-decoration: none !important;
  margin-top: 20px;
}
.card-width{
  margin-top: 35px;
  min-width: 350px;
  width: 100%;
  text-align: center;
  padding-bottom: 0;
}
