@import "src/assets/variables";

.item-card-bottom-spacing {
  margin-bottom: 10px;
}
.view-answers-text {
  display: flex;
  flex-direction: row;
  font-weight: bolder;
  color: $primary;
  cursor: pointer;
  text-decoration: none !important;
}

.image-max-width {
  max-width: 50% !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}
