.file-input-width {
  width:50%;
}


.margin-left-right-auto {
  margin-left: auto;
  margin-right: auto;
}

.progress-bar {
  margin-top:15px
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-0 {
  margin-right: 0;
}

.item-card-bottom-spacing {
  margin-bottom: 10px;
}

.image-max-width {
  max-width: 50% !important;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
}

.button-spacing {
  margin-left:10px
}
