
.title-style {
  color: #2f2f2f;
  font-weight: bolder;
  font-size: 30px;
}

.margin-top-desc {
  margin-top:25px
}

.button-margin {
  margin-top: 60px;
}

.button-size {
  height: 70px;
  width: auto;
  font-size: 20px;
  color: #2f2f2f;
  font-weight:lighter;
  border-radius: 10px;
}

.btn-spacing {
  margin-left: 15px
}
