<mat-card class="card-width">
  <mat-card-title class="text-center">
    <h2>Update profile details</h2>
  </mat-card-title>

  <mat-card-content>
    <form class="p-lg-0" [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>First Name</mat-label>
          <input matInput
                 type="text"
                 id="firstName"
                 name="firstName"
                 placeholder="Input your first name"
                 formControlName="firstName">
          <mat-error *ngIf="f.firstName.invalid && f.firstName.touched">You must input First Name</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Last Name</mat-label>
          <input matInput
                 type="text"
                 id="lastName"
                 name="lastName"
                 placeholder="Input your last name"
                 formControlName="lastName">
          <mat-error *ngIf="f.lastName.invalid && f.lastName.touched">You must input Last Name</mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput
                 type="text"
                 id="username"
                 name="username"
                 placeholder="Input your username"
                 formControlName="username">
          <mat-error *ngIf="f.username.invalid && f.username.touched">You must input username</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Email Address</mat-label>
          <input matInput
                 type="text"
                 id="email"
                 name="email"
                 placeholder="Fill in a valid email address or use default one"
                 formControlName="email">
          <mat-error *ngIf="f.email.invalid && f.email.touched">You must input a valid email address.</mat-error>
        </mat-form-field>
      </p>
      <p *ngIf="hasRoleChangePermission">
        <mat-form-field appearance="fill" class="full-width-input">
          <mat-label>Role</mat-label>
          <mat-select (valueChange)="roleChange($event)" formControlName="role" name="role">
            <mat-option *ngIf="currentUser.role == roles.ROLE_SUPER_ADMIN" [value]="roles.ROLE_SUPER_ADMIN">Super Admin</mat-option>
            <mat-option *ngIf="currentUser.role == roles.ROLE_SUPER_ADMIN" [value]="roles.ROLE_ADMIN">Admin</mat-option>
            <mat-option [value]="roles.ROLE_MODERATOR">Moderator</mat-option>
            <mat-option [value]="roles.ROLE_BASIC">Basic</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p *ngIf="selectedRole == roles.ROLE_MODERATOR">
        <mat-form-field appearance="fill">
          <mat-label>Courses</mat-label>
          <mat-select formControlName="moderatingCourses" multiple>
            <mat-option *ngFor="let course of courseOption" [value]="course.id">{{course.label}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <button mat-flat-button color="accent" class="btn-width-50" type="submit"
                [disabled]="userForm.disabled|| !userForm.valid">
          Submit
        </button>
      </p>
    </form>
    <div class="change-password-text" *ngIf="!hasRoleChangePermission">
      <p routerLink="/change-password">Click here to change password</p>
    </div>
  </mat-card-content>
</mat-card>
