
.align-left {
  align-items: start;
  //text-align: center;
  justify-content: left;
}
.width {
  max-width: 960px;
  min-width: 600px;
}

.align-center {
  margin-bottom: auto;
  margin-top: 0;
}

.comment-margin {
  margin-bottom: 15px;

}
