<div class="flex-column">
  <div class="comment-margin"  *ngFor="let comment of comments" >
  <comment [comment]="comment" (refresh)="loadComments()"></comment>
  </div>
  <div class="">
    <form [formGroup]="commentForm" (ngSubmit)="submit()">
    <mat-form-field appearance="outline" class="full-width-input">
      <mat-label>Enter Comment</mat-label>
      <textarea matInput
             type="text"
             id="description"
             name="description"
             placeholder="Enter comment... "
             formControlName="description">
      </textarea>
      <button mat-icon-button matSuffix class="align-center" type="submit"><mat-icon>send</mat-icon></button>
    </mat-form-field>
    </form>
  </div>
</div>
