<button *ngIf="isAuthenticated()" class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <div class="row text-center" *ngFor="let item of navItems" >
  <button mat-menu-item *ngIf="item.canAccess" [routerLink]="item.route">
    <span class="material-icons icon-width icon-margin">{{item.icon}}</span>
    <span class="margin-top-bot">{{item.name}}</span>
  </button>
    </div>
  <button mat-menu-item (click)="logout()">
    <span class="material-icons icon-width icon-margin">logout</span>
    <span>Logout</span>
  </button>
</mat-menu>
