.menu-button {
  background: transparent;
  border: 0;
  color: white;
}

.icon-width {
  width: 24px;
}

.icon-margin {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}

.margin-top-bot {
  margin-top: auto;
  margin-bottom: 15px
}
